
.filter-sort-bar-desktop {
  height: 53px;
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid#F5F5F5;
}

.checkbox {
  width: 12px;
  margin-right: 6px ;
}

.filter-item {
  margin-right: 26px;
  display: flex;
  align-items:  center; 
  cursor: pointer;
}

.filter-container {
  display: flex;
  align-items: center;
}

.check-box, .check-box-blank {
  width: 12px;
  margin-right: 6px;
}

.active-item {
  color: #4FBA69;
}

.active-item .check-box {
  display: block;
}

.active-item .check-box-blank {
  display: none;
}

.check-box {
  display: none;
}

.filter-sort-bar-mobile {
  display: none;
}

.filter-icon {
  height: 16px;
  margin-right: 10px;
}

@media (max-width: 1110px) {
  .filter-sort-bar-desktop {
      display: none;
  }
  
  .filter-sort-bar-mobile {
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid#F5F5F5;
  }

  .filter {
    display: flex;
    align-items: center;
  }

}