.nav-bar {
  height: 90px;
}

.nav-bar a:active {
  color: green;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  height: 40px;
  display: flex;
  align-items: flex-end;
}

.nav-item {
  margin: 0px 0px 0px 24px;
  text-decoration: none;
  font-size: 16px;
  color: #6E7171;
}

.cc-logo {
  margin: 25px 0px 25px 0px;
}

.nav-user-block {
  display: flex;
  align-items: center;
}

.user-name {
  font-weight: 500;
  font-size: 16px;
  margin: 0px 2px 0px 2px;
  text-decoration: none;
  color: #6E7171;
}

.user-avatar {
  margin-left: 24px;
  height: 24px;
}